body {
  background: darkblue;
  background: var(--darkBlue);
  color: white;
}

a {
  color: inherit;
}

button, input, textarea {
  font-size: inherit;
}

.sc2iq-app {
  margin: 0 auto;
  width: 800px;
}

nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
}

main {
  padding: 2rem;
}

input {
  width: 100%;
}

nav > div {
  padding: 1rem 1.5rem;
}
nav a {
  padding: 1rem 1.5rem;
}

nav a:hover {
  background: rgb(59, 144, 255);
}

nav a.active {
  background: rgb(78, 134, 255);
}

dl {
  display: grid;
  grid-template-columns: max-content 1fr;
}