:root {
  --lightBlue: #1C2739;
  --darkBlue: #030D19;
  --blue: #0C1828;
  --blueText: #6F8EAE;
  --green: #16B828;
  --gold: #FBCF4A;
}

body {
  background: var(--darkBlue);
  color: white;
}

#root {
  display: grid;
  grid-template: max-content 1fr max-content / auto;
  height: 100vh;
}

a {
  color: inherit;
}

button, input, textarea {
  font-size: inherit;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.placeholder {
  padding: 4rem;
  text-align: center;
}

header {
  background: var(--lightBlue);
}

footer {
  background: var(--lightBlue);
  padding: 2rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, max-content) 1fr max-content;
}

nav>div {
  padding: 1rem 1.5rem;
}

nav a {
  padding: 1rem 1.5rem;
}

nav a:hover {
  background: rgb(59, 144, 255);
}

nav a.active {
  background: rgb(78, 134, 255);
}

main {
  padding: 2rem;
}

input {
  width: 100%;
}

dl {
  display: grid;
  grid-template-columns: max-content 1fr;
}