# Node.js dependencies
node_modules/

# Build output
build/

# Azure Developer CLI
.azure/*
!.azure/.gitignore
!.azure/config.json

# Local environment variables
.env

!.devcontainer/devcontainer.env

# Logs
*.har*
*.log
