.users {
    display: grid;
}

.user {
    display: block;
    text-decoration: none;
}

.columnHeaders {
    display: grid;
    grid-template-columns: 300px repeat(4, minmax(max-content, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}