.test {
    border: 2px solid var(--lightestBlue);
    padding: 4rem;
}

.testLevelDropdown {
    padding: 0.25em 0.5em;
    font-size: 1.5rem;
}

.testLevelDescription {
    padding: 1rem;
}

.testButton__Ready {
    margin-top: 2rem;
    padding: 0.5em;
    font-size: 2rem;
}

.question {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--lightBlue);
}

.answers {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0.5rem 1rem;
    align-items: center;
}

.answers button {
    background: #1f528a;
    border: none;
    padding: 0.5rem 1rem;
    text-align: left;
    color: #deeeff;
}

.testFinished {
    display: grid;
    grid-gap: 1rem;
    font-size: 3rem;
    text-align: center;
}

.testDetails {
    display: grid;
    grid-gap: 1rem;
    font-size: 1.8rem;
}

.testAnswersReview {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content;
    grid-gap: 1rem 0.5rem;
    padding: 1rem 0;
}

.correctOutOfTotal {
    font-weight: bold;
}

.correctList {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    justify-content: center;
}

.restart {
    font-size: 3rem;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    border: 0;
    background-color: var(--blue);
    color: white;
}

.answerReviewButtons {
    font-size: 1rem;
    display: grid;
    grid-auto-flow: column;
}

.answerButtonHighlight {
    border: 2px solid black;
}

.answerStats {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0.5rem;
}