.test {
    border: 2px solid var(--blue);
    padding: 1rem;
}

.testQuestion {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.question {
    min-height: 4.5rem;
}

.testFinished {
    display: grid;
    grid-gap: 1rem;
    font-size: 3rem;
    text-align: center;
}

.testDetails {
    display: grid;
    grid-gap: 1rem;
    font-size: 1.8rem;
}

.testAnswersReview {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content;
    grid-gap: 1rem 0.5rem;
    padding: 1rem 0;
}

.correctOutOfTotal {
    font-weight: bold;
}

.correctList {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    justify-content: center;
}

.restart {
    font-size: 3rem;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    border: 0;
    background-color: var(--blue);
    color: white;
}

.answerReviewButtons {
    font-size: 1rem;
    display: grid;
    grid-auto-flow: column;
}

.answerButtonHighlight {
    border: 2px solid black;
}

.answerStats {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0.5rem;
}