:root {
  --lightBlue: #29364a;
  --lightBlue2: rgb(23, 33, 49);
  --blue: #0C1828;
  --darkBlue: #030D19;
  --lightestBlue: #6F8EAE;
  --green: #16B828;
  --gold: #FBCF4A;
}

body {
  background: var(--darkBlue);
  color: white;
}

#root {
  display: grid;
  grid-template: max-content 1fr max-content / auto;
  height: 100vh;
}

a {
  color: inherit;
}

button, input, textarea {
  font-size: inherit;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

@media (max-width: 1440px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  .container {
    width: 900px;
  }
}

.placeholder {
  padding: 4rem;
  text-align: center;
}

header {
  background: var(--lightBlue);
}

.subheader {
  padding: 1rem;
  background: var(--lightBlue2);
}

footer {
  background: #172131;
  padding: 1.5rem;
  color: #6d84ad;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, max-content) 1fr max-content;
}

nav>div {
  padding: 1rem 1.5rem;
}

nav a {
  padding: 1rem 1.5rem;
  /* border-left: 1px solid #49505d; */
  text-decoration: none;
}

nav a:hover {
  background: rgb(87, 111, 142);
}

nav a.active {
  background: rgb(68, 83, 115);
}

main {
  padding: 2rem;
  overflow-y: auto;
}

input {
  width: 100%;
}

dl {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.footer {
  display: grid;
  grid-template-columns:  max-content max-content;
  grid-gap: 4rem;
}

.footer .links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.footer .links a {
  text-underline-offset: 7px;
}