.question {
    border: 1px solid rgb(100, 140, 179);
    padding: 1rem;
    border-radius: 3px;
}

.title {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr max-content;
}

.answers {
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr max-content;

    --color-bg-start-open: rgba(9,120,121,1);
    --color-bg-end-open: rgba(0,255,218,1); 
    --color-bg-start-closed: rgb(3, 58, 59);
    --color-bg-end-closed: rgb(40, 143, 127); 
}

.answers > div {
    padding: 0 0.5rem;
    border-radius: 3px;
    align-items: center;
}

.changeLink a {
    text-decoration: none;
}

.tag {
    padding: 0.125rem 0.5rem;
    margin-right: 0.25rem;
    background-color: rgb(76, 148, 216);
}