.question {
    border: 1px solid brown;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr max-content;
}
.answers {
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr max-content;

    --color-bg-start: rgba(9,120,121,1);
    --color-bg-end: rgba(0,255,218,1); 
}

.answers > div {
    padding: 0 0.5rem;
    border-radius: 3px;
}

.metadata {

}

.contact {

}

.tag {
    padding: 0.125rem 0.25rem;
    margin-right: 0.25rem;
    background-color: rgb(205, 224, 255);
}