.question {
    border: 1px solid brown;
    padding: 1rem;


}

.title {
    font-size: 2rem;
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr max-content;
}
.answers {
    display: grid;
    grid-gap: 0 1rem;
    grid-template-columns: 1fr max-content;
}

.metadata {

}

.contact {

}

.tag {
    padding: 0.125rem 0.25rem;
    margin-right: 0.25rem;
    background-color: rgb(205, 224, 255);
}