

.userBanner {
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 2fr) minmax(max-content, 1fr) minmax(max-content, 1fr);
    grid-gap: 2rem;
    align-items: center;
}

.difficulty {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-gap: 0.5rem;
    align-items: center;
}

.difficultyBar {
    border: 2px solid #7489af;
    border-radius: 0.25rem;
    display: flex;
    height: 100%;
}

.difficultyBarLeft {
    padding: 0.25rem 0.5rem;
    background: #4b5971;
    text-align: right;
    white-space: nowrap;
}

.difficultyBarRight {
    padding: 0.25rem 0.5rem;
}